/* Profile Section */
@import "../../styles/variables";
.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .profile-image {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    img {
      border-radius: 50%;
    }
  }
  .user-details div {
    margin-bottom: 5px;
  }
  .profile-user-name {
    font-size: 1.5rem;
    font-weight: 200;
  }
  .profile-specialization {
    font-weight: 400;
    color: $color-primary;
  }
  .rate{
    font-weight: bolder;
  }
}
.profile-bio {
  line-height: 1.5;
  padding: 10px;
  max-width: 90%;
  opacity: 0.8;
}
