
$grey: #ccc;
$dark:#414755;
$light-green:#36bea6;
$white:white;

$color-background:$dark;
$color-border-light : lighten($grey, 10%);
$color-border-dark:darken($grey,10%);

$color-blue: #009FF5;

$color-border: #E0E0E0;
$color-placeholder: #9D9D9D;
$color-primary: $color-blue;

